.adv {
    border-style: dashed;
    border-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    border-style: solid;
    border-color: coral;
}

.nav-back {
    background-color:#f1dfa0;
}

.other-back {
    background-color: cornsilk;
}

.photo-galery img {
    margin: 6px;
    max-width: 700px;
    height: auto;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.main-text {
    padding: 1% 4%;
}

.main-text h3{
    text-align: center;
}

#cottedge-picture {
    max-width: 500px;
    margin: 6px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.iframe-container{
    display: flex;
    align-items: center;
}